/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #3a2620; /* dark brown */
    --secondary-color: #aa9581; /* light brown */
    --highlight-color: #416a8e; /* blue */
    --highlight-color-light: #7a9fc2; /* light blue */
}

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    font-family: 'Lato', sans-serif;
    color:var(--primary-color);
}

/*.container{
    flex:1;
}*/
.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform:uppercase;
    letter-spacing: 2px;
    color:506D1B;
}






h6{
    color:red;
}

/* Header */
header {
    background-color: #ffffff;
    padding:0 1rem;
    position:fixed;
    z-index:99;
    width:100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display :flex;
    justify-content:space-between;
    align-items:baseline;
}

header a{ 
    text-decoration:none;
    color:inherit;
}
/*
.section {
    margin-top: 4rem;
  /*  margin-bottom: 2rem; top wwas 2*}*/

/* grid visualisation CSS for testing */
/*
.container,

 {
    border: 2px solid black;
    position:center;

}

*/

#menu {
    font-size:110%;
    letter-spacing:2px;
    list-style-type:none;
}

#menu > li{
    margin-bottom:1em;
}

.active{
    border-bottom: 1px solid #a3a3a3;
}

nav{
    position:absolute;
    background-color: #ffffff;
    width:100%;
    left:0;
    padding:0 1rem;
    box-shadow:0 2px 2px #3a3a3a;
    display:none;
    top:100%;
}
/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}


/* Main content */
main {
    background-color: #E9D98A;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top:47px;
}

#F-banner{
    text-align:center;
    background-color:#ffffff;
    color:var(--primary-color);
    font-size: larger;
}




/* Reasons section */
#reasons {
    width: 90%;
    margin: 20px auto;
}

#reasons h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}
#benefits-ecosystem > div,
#benefits-pets-human > div {
    line-height: 20px;
    margin-bottom: 20px;
}

#benefits p {
    padding: 0 20px;
}
#benefits hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

#circle-cover-bg{
    background: url(../images/winters/Winters-back.jpg);
    height:90vw;
    width:90vw;
    margin-bottom:20px;
    border-radius:50%;

    /* For bigger phones */
    max-width:300px;
    max-height:400px;  
}

#benefits-image{
    display:flex;
    align-items:center;
    justify-content:center;
}

/* Footer */
footer {
    background-color: #ffffff;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
   /* flex-wrap:wrap;*/
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }

    
    
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #3a3a3a;
    }
}